@use "./variables" as *;

header {
    height: 40vh;
    background-image: url("../assets/contact-us.jpg");
}

.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
    gap: 20px;
}

button {
    width: 120px;
    padding: 10px;
    background-color: $white;
    border: 1px solid $darkGray;
    transition: .2s ease;
    cursor: pointer;
}

button:hover {
    background-color: $darkGray;
    color: $white;
}

input, textarea {
    border: none;
    border-bottom: 1px solid $darkGray;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}