/*CSS SETUP CODE*/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/*SCSS VARIABLES*/

$pink: #eba6aa;
$darkGray: #333;
$lightGray: #666;
$veryLightGray: #6666661d;
$blue: #88cce2;
$white: #fff;
$brown: #d7b89c;


/*GENERIC STYLING*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $darkGray;
}

h1, h2, h3, h4, h5, ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.off {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

section {
    margin-top: 100px;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.wrapper-small {
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
}

/*HEADER*/

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: $darkGray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 10px;
}

header {
    background-image: url("../assets/home.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo, .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header img {
    height: 20px;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

.header-text p {
    font-size: 1.5rem;
    color: $lightGray;
}

.h1-span {
    display: block;
}

.header-text {
    width: 60%;
    margin-left: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text h1, .header-text p {
    width: 30%;
}

/*CATALOG*/

.catalog {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    height: 500px;
}

.image1 {
    align-self: center;
}

.image3 {
    align-self: flex-end;
}

.catalog img {
    height: inherit;
    width: inherit;
}

.image1, .image2, .image3 {
    position: relative;
    height: 450px;
    width: 300px;
}

.catalog p {
    position: absolute;
    background-color: $white;
    padding: 10px;
    bottom: 10px;
    font-size: 1.2rem;
}

/*FEATURED SALE*/

.sale-item {
    display: flex;
    flex-direction: column;
    border: 1px solid $veryLightGray;
    height: 250px;
    min-width: 150px;
    width: calc(100% / 5 - 50px);
    padding: 5px;
    position: relative;
    cursor: pointer;
    transition: .5s ease;
}

.sale-item:hover {
    margin-top: -5px;
    margin-bottom: 5x;
    box-shadow: 0px 0px 25px -20px black;
}

.featured-sale h2 {
    text-align: center;
    font-size: 4rem;
}

.featured-sale-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.sale-image {
    height: 80%;
}

.sale-item h3 {
    margin: 0;
}

.sale-info {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.sale-info img {
    border: 1px solid $veryLightGray;
    height: 25px;
    width: 25px;
}

.crossed-price {
    text-decoration: line-through;
    margin-right: 5px;
}

.sale-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-price {
    color: $lightGray;
}

.sale-tag, .new-tag {
    position: absolute;
    color: $white;
    top: 10px;
    left: 0;
    padding: 5px;
}

.sale-tag {
    background-color: $pink;
}

.new-tag {
    background-color: $blue;
}

.featured-sale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-sale button {
    margin: 40px;
    padding: 10px 25px 10px 25px;
    color: $darkGray;
    background-color: $white;
    border: 1px solid $darkGray;
    font: inherit;
    transition: .3s ease;
}

.featured-sale button:hover {
    cursor: pointer;
    color: $white;
    background-color: $darkGray;
}

/*SALES SECTION*/

.sales {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sale1 {
    background-image: url(../assets/vert1.jpg);
    height: 50vh;
    width: 30%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 30px;
    color: $white;
}

.sale2 {
    background-image: url(../assets/vert2.jpg);
    height: 50vh;
    width: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.for-sale-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale-up-to {
    color: $brown;
    display: block;
    background-color: $white;
    width: 50%;
    padding: 2px;
}

.shop-now {
    background: none;
    border: none;
    cursor: pointer;
    color: $white;
    margin-top: 10px;
}

.arrow {
    transition: .5s ease;
}

.shop-now:hover {
    text-decoration: underline;
}

.shop-now:hover .arrow {
    margin-left: 5px;
    margin-right: -5px;
}