/*CSS SETUP CODE*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*SCSS VARIABLES*/
/*GENERIC STYLING*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333;
}

h1, h2, h3, h4, h5, ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
}

.off {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}

section, footer {
  margin-top: 100px;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*HEADER*/
nav ul {
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

header {
  background-image: url("../assets/home.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo, .cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img {
  height: 20px;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

.header-text p {
  font-size: 1.5rem;
  color: #666;
}

.h1-span {
  display: block;
}

.header-text {
  width: 60%;
  margin-left: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text h1, .header-text p {
  width: 30%;
}

/*CATALOG*/
.catalog {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  height: 500px;
}

.image1 {
  align-self: center;
}

.image3 {
  align-self: flex-end;
}

.catalog img {
  height: inherit;
  width: inherit;
}

.image1, .image2, .image3 {
  position: relative;
  height: 450px;
  width: 300px;
}

.catalog p {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  bottom: 10px;
  font-size: 1.2rem;
}

/*FEATURED SALE*/
.sale-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(102, 102, 102, 0.1137254902);
  height: 250px;
  min-width: 150px;
  width: calc(20% - 50px);
  padding: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
}

.sale-item:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 25px -20px black;
}

.featured-sale-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.sale-image {
  height: 80%;
}

.sale-item h3 {
  margin: 0;
}

.sale-info {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.sale-info img {
  border: 1px solid rgba(102, 102, 102, 0.1137254902);
  height: 25px;
  width: 25px;
}

.crossed-price {
  text-decoration: line-through;
  margin-right: 5px;
}

.sale-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale-price {
  color: #666;
}

.sale-tag, .new-tag {
  position: absolute;
  color: #fff;
  top: 10px;
  left: 0;
  padding: 5px;
}

.sale-tag {
  background-color: #eba6aa;
}

.new-tag {
  background-color: #88cce2;
}

.featured-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-sale button {
  margin: 40px;
  padding: 10px 25px 10px 25px;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  font: inherit;
  transition: 0.3s ease;
}

.featured-sale button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #333;
}

/*SALES SECTION*/
.sales {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sale1 {
  background-image: url(../assets/vert1.jpg);
  height: 50vh;
  width: 30%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 30px;
  color: #fff;
}

.sale2 {
  background-image: url(../assets/vert2.jpg);
  height: 50vh;
  width: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
}

.for-sale-text1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sale-up-to {
  color: #d7b89c;
  display: block;
  background-color: #fff;
  width: 50%;
  padding: 2px;
}

.shop-now {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
}

.arrow {
  transition: 0.5s ease;
}

.shop-now:hover {
  text-decoration: underline;
}

.shop-now:hover .arrow {
  margin-left: 5px;
  margin-right: -5px;
}

.for-sale-text2 {
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
  width: 50%;
}

/*INSTAGRAM SECTION*/
.instagram {
  text-align: center;
}

.instagram p {
  color: #666;
}

.instagram h2 {
  margin: 0;
}

.insta-images {
  display: flex;
  gap: 20px;
}

.insta-images img {
  width: calc(20% - 20px);
  min-width: 150px;
}

/*FOOTER*/
footer {
  background-color: #333;
  height: 300px;
  color: #fff;
}

.footer {
  display: flex;
  height: 100%;
  gap: 40px;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.footer-elem {
  width: calc(25% - 40px);
  height: 170px;
}

.footer-icons {
  display: flex;
  gap: 20px;
  width: 15px;
  height: 15px;
}

.footer-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer-icons img {
  transition: 0.2s ease;
  cursor: pointer;
}

.footer-icons img:hover {
  transform: scale(1.3);
}

.footer-logo-image {
  height: 20px;
  width: 90px;
  display: inline-block;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer li {
  display: flex;
  align-items: center;
}

footer li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.email-form {
  background-color: #333;
  border: none;
  border-bottom: 0.5px solid #fff;
  color: #fff;
  margin-top: 10px;
  width: 100%;
  padding-bottom: 5px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}